<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
<link rel="stylesheet" th:href="@{/mypage/inquiryproduct.css}">

    <div class="cContainer">
        <aside class="sidebar">
            <h2>자주 찾는 메뉴</h2>
            <ul>
                <li><a th:href="@{/mypage/order}">주문 내역</a></li>
                <li><a href="#" >찜한 상품</a></li>
                 <li><a href="#" >자주 구매</a></li>
               
            </ul>
            <hr>    <!--가로선으로 나누기 위함-->
            <h2>쇼핑</h2>
            <ul>
                <li><a href="#">상품 후기</a></li>
                <li><a th:href="@{/mypage/inquiry/products}">상품 문의</a></li>
                <li><a th:href="@{/cart/${user.buyuserId}}">장바구니</a></li>
            </ul>
            <hr>    <!--가로선으로 나누기 위함 -->
            <h2>내 정보 관리</h2>
            <ul>
                <li><a href="#">배송지 관리</a></li>
                <li><a href="#">개인정보 수정</a></li>
            </ul>
            <hr>    <!--가로선으로 나누기 위함 -->
            <h2>고객센터</h2>
            <ul>
                <li><a href="#">1:1 문의</a></li>
            </ul>


        </aside>
        <main class="content">
            <div id="product-inquiry" class="content-section">
                <div class="product-box">
                    <h3>상품 문의</h3>
                    <div class="line"></div>
                    
                     <!-- 문의 목록 섹션 -->
                     <div class="inquiry-list">
                        <div class="inquiry-item">
                            <div class="inquiry-info">
                                <h4>문의한 상품명</h4>
                                <h5>상품문의한 제목명</h5>
                                <p class="status">답변대기 | 2024.xx.xx</p>
                            </div>
                            <img src="/mypage/manboong.png" alt="상품 이미지" class="inquiry-image">
                        </div>
                        <hr class="inquiry-separator">
                        <div class="inquiry-item">
                            <div class="inquiry-info">
                                <h4>문의한 상품명 </h4>
                                <h5>상품문의한 제목명</h5>
                                <p class="status">답변완료 | 2024.xx.xx</p>
                            </div>
                            <img src="/mypage/manboong.png" alt="상품 이미지" class="inquiry-image">
                        </div>
                        <hr class="inquiry-separator">
                        <!-- 추가 문의 항목을 여기에 추가하세요 -->
                    </div>
                </div>
            </div>
        </main>
    </div>
          </div>
          </html>     
